<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site Express - <%= pageTitle %></title>
    <link rel="stylesheet" href="./css/styles.css">
    <script defer src="./js/scripts.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="bg-white dark:bg-slate-950 text-slate-950 dark:text-white font-sans bg-neutral-50">
    <!-- nav bar -->
    <nav class=" text-amber-700"  x-data="{open: false}">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 lg:h-24 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-amber-700 hover:bg-amber-100 hover:text-amber-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" @click="open = ! open">
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch lg:justify-between">
              <div class="tracking-[.5em] self-center text-currentColor uppercase text-lg md:text-xl">
                Daily Journal
              </div>
              <div class="hidden sm:ml-6 lg:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <% pages.map(page => {%>
                    <a href="<%= page.link %>" 
                        class="hover:text-amber-500 px-3 py-2 uppercase tracking-[0.4em] text-sm font-medium
                        <% if(pageTitle === page.title){ %>
                            text-amber-500
                        <% } %>
                        " 
                        <% if(pageTitle === page.title){ %>
                            aria-current="page"
                        <% } %>
                        >
                        <%= page.title %>
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="lg:hidden" id="mobile-menu" x-show="open" x-transition @click.outside="open = false">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <% pages.map(page => {%>
                <a href="<%= page.link %>" 
                    class="hover:text-amber-500 block uppercase tracking-[0.3em] px-3 py-2 text-sm font-medium
                    <% if(pageTitle === page.title){ %>
                        text-amber-500
                    <% } %>
                    " 
                    <% if(pageTitle === page.title){ %>
                        aria-current="page"
                    <% } %>
                    >
                    <%= page.title %>
                </a>
              <% }) %>
          </div>
        </div>
      </nav>
      
